:host {
  display: block;
}

.mf-select.mat-mdc-form-field {
  font-family: var(--mf-font-base) !important;
  width: 100%;
}

.mf-select .mat-mdc-select-trigger {
  font-family: var(--mf-font-base) !important;
}

.mf-select .mdc-notched-outline__leading,
.mf-select .mdc-notched-outline__notch,
.mf-select .mdc-notched-outline__trailing {
  border-color: var(--mf-color-border) !important;
}

.mf-select .mat-mdc-form-field-focus-indicator,
.mf-select.mat-mdc-form-field.mat-focused .mdc-notched-outline__leading,
.mf-select.mat-mdc-form-field.mat-focused .mdc-notched-outline__notch,
.mf-select.mat-mdc-form-field.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--mf-color-brand) !important;
}

.mf-select .mat-mdc-select-arrow {
  color: var(--mf-color-neutral-400) !important;
}

/* ── Tamaños ───────────────────────────────────────────────────── */
.mf-select--sm .mat-mdc-select-trigger {
  font-size: var(--mf-text-sm) !important;
}

.mf-select--md .mat-mdc-select-trigger {
  font-size: var(--mf-text-base) !important;
}

.mf-select--lg .mat-mdc-select-trigger {
  font-size: var(--mf-text-lg) !important;
}

.mf-select .mdc-notched-outline {
  border-radius: var(--mf-radius-md) !important;
}
