:host {
  display: inline-block;
}

.mf-slide-toggle.mat-mdc-slide-toggle {
  font-family: var(--mf-font-base) !important;
  font-size: var(--mf-text-sm) !important;
}

.mf-slide-toggle .mdc-switch--selected .mdc-switch__track::after {
  background-color: var(--mf-color-primary-200) !important;
}

.mf-slide-toggle .mdc-switch--selected .mdc-switch__handle::after {
  background-color: var(--mf-color-brand) !important;
}

.mf-slide-toggle--disabled {
  opacity: 0.42;
}
